// Enhanced Guild boost bar by Aoi
@import url(https://seele1306.github.io/Snippets/GuildBoost/import.css);
:root {
    --test-color: hsl(88, 74%, 52%);
    --guildboost-accent-color: 88deg 74% 52%;
    --guildboost-transparency: 25%;
}